<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>S.I.F.U</title>
  <link rel="stylesheet" type="text/css" href="/views/css/all.css"> 
  <link rel="stylesheet" type="text/css" href="/views/css/pizarra.css"> 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <script src="/views/js/all.js"></script>
  <script src="/views/js/socket.io-1.4.5.js"></script> 
  <script src="/views/js/modernizr.js"></script> 
  <script src="/views/js/pizarra.js"></script> 
  <script src="/views/js/aula.js"></script>
</head>
<body onload="initCanvas();">

<nav class="navbar navbar-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Aula virtual</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#"><font color="#fff">Preguntar al profesor</font></a></li>      
    </ul>
  </div>
</nav>

<div class="container">
	<div class="rows">
		<div id="canvasDiv" style="width: 100%;background-color: green;height: 500px;"></div>
		<div id="contenedorChat">
			<div id="mensajes_chat"></div>
			<div id="enviar_mensaje"></div>
		</div>
	</div>
	
</div>
</body>
</html>