html(lang='en-US')
  head
    meta(charset='UTF-8')
    title
    script(type='text/javascript', src='modernizr.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='script.js')
   
  body
    form
      input#clean(type='button', value='Limpiar')
    canvas#canvas(width='550', height='200')
      | Tu Navegador no acepta canvas.
